

/*

Table of Contents:

      1. Body
      2. Header / .nav
      3. Main / #main
          3.1. First Page / #page-one
            3.1.1. Image & its caption / #img-div
            3.1.2. Intro Name / #name-div
          3.2. Second Page / #page-two
            3.2.1. personal Information / #personal-info
            3.2.2. Biography / #bio-info
          3.3. Third Page / #page-three
          3.4. Forth Page / #page-four
      4. Footer / #footer
      5. Animations
      6. Media Queries
  */






/*
*******************************************************************************
1. Body
*******************************************************************************
*/

html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
  }
  
  /*
  *******************************************************************************
  2. Header / .nav
  *******************************************************************************
  */
  
  
  .nav {
      height: 5em;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-shadow: 0 0.01em 0.9em rgb(183, 161, 145, 70%);
      z-index: 10;
  }
  
  .burger-menu {
      width: 100%;
  }
  
  
  .menu {
      margin: 0 2em 0 0;
      text-align: right;
      height: 100%;
  }
  
  .menu a {
      clear: right;
      text-decoration: none;
      color: #707070;
      margin: 0 0 0 20px;
      line-height: 70px;
      text-align: right;
      text-transform: uppercase;
      font-family: sans-serif;
      font-size: calc(0.5em + 0.3vw);
      letter-spacing: 0.3em;
      height: inherit;
      box-sizing: border-box;
      padding: 1em 0;
  }
  
  label {
      margin: 0 1em 0 0;
      font-size: calc(1.1em + 2vw);
      line-height: 70px;
      display: none;
      width: 26px;
      float: right;
      color: #855c8c;
  }
  
  #toggle {
      display: none;
  }
  
  .logo {
    position: fixed;
    margin: 0 0 0 2em;
    height: inherit;
    padding: 0;
    text-decoration: none;
    font-size: calc(0.5em + 0.7vw);
    display: table;
  }
  
  .logo .fullname {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
  }
  
  /* fullname class is in the header and in the firstpage */
  .fullname {
    font-family: Damion;
    color: #C98686;
  }
  
  .ayoob-name {
    color: #855c8c;
  }
  
  
  
  /*
  *******************************************************************************
  3. Main / #main
  *******************************************************************************
  */
  
  main {
    padding-left: 8vw;
    padding-right: 8vw;
    background-color: #FFF4EC;
    overflow: hidden;
  }
  
  .page {
    padding-top: 20vh;
  }
  
  
  /*
  *******************************************************************************
  3.1. First Page / #page-one
  *******************************************************************************
  */
  
  #page-one {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 0;
  
  }
  
  
  /*
  *******************************************************************************
  3.1.1. Image & its caption / #img-div
  *******************************************************************************
  */
  
  #img-div{
    margin: 1em;
        width: auto;
      height: auto;
      max-width: 900px;
  }
  
  
  #image {
        width: calc(7em + 20vw);
      height: auto;
      max-width: 60vw;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }
  
  
  /*
  *******************************************************************************
  3.1.2. Intro Name / #name-div
  *******************************************************************************
  */
  
  #name-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  
  #title {
    font-size: calc(3rem + 2vw);
    white-space: nowrap;
    margin: 0;
  }
  
  #name-div p {
    color: #707070;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: calc(0.5em + 0.4vw);
    letter-spacing: 1em;
    margin: 0.2em 0 0 0;
  }
  
  hr.line {
    display: none;
    border: 1px #f2b880 solid;
    margin-bottom: 2em;
  }
  
  /*
  *******************************************************************************
  3.2. Second Page / #page-two
  *******************************************************************************
  */
  
  #page-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5vh;
  }
  
  .keys {
    text-transform: uppercase;
    font-size: calc(0.7em + 0.2vw);
    font-family: Rubik, sans-serif;
    font-weight: normal;
    letter-spacing: 0.1em;
  }
  
  .values {
    font-size: calc(0.6em + 0.5vw);
    font-family: Rubik, sans-serif;
    font-weight: 600;
    letter-spacing: 0.01em;
  }
  
  
  /*
  *******************************************************************************
  3.2.1. personal Information / #personal-info
  *******************************************************************************
  */
  
  #personal-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;
  }
  
  .info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-block > img {
    margin: 0.8em;
    width: calc(2em + 2vw);
  }
  
  .info-block > div {
    margin: 0.3em;
  }
  
  .pkeys, .pval {
    box-sizing: border-box;
    text-align: center;
    width: calc(10em + 5vw);
    border-radius: 2em;
    color: #855c8c;
    padding: 0.1em;
  }
  
  .pkeys {
    color: #b69ab2;
  }
  
  .pval {
    white-space: nowrap;
  }
  
  /*
  *******************************************************************************
  3.2.2. Biography / #bio-info
  *******************************************************************************
  */
  
  #bio-info {
    background-color: #855c8c;
    width: 100vw;
    padding: 3em 15vw;
    box-sizing: border-box;
  }
  
  .bkeys {
    color: #cdb6c4;
    margin-bottom: 1.5em;
  }
  
  .bval {
    color:  #fff4ec;
    line-height: 2em;
  }
  
  
  
  /*
  *******************************************************************************
  3.3. Third Page / #page-three
  *******************************************************************************
  */
  
  #page-three {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  
  #first-grid, #second-grid, #third-grid {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
  }
  
  
  .work-key, .work-value {
    text-align: center;
  }
  
  .work-key {
      height: 3em;
      color: #855c8c;
      font-weight: bold;
      font-size: calc(0.6em + 0.3vw);
      align-self: end;
  }
  
  .work-value {
    background-color: #855c8c;
        color: white;
        height: 3.5em;
        line-height: 3.5em;
        align-self: start;
        border-radius: 0 0 3em 0;
  }
  
  .work-column {
    width: calc(7em + 10vw);
        height: calc(8.75em + 12.5vw);
        overflow: hidden;
        background-color: #f2b880;
        border: 6px #855c8c solid;
        text-align: center;
        box-sizing: border-box;
        border-radius: 3em 0 0 0;
  }
  
  
  .work-column img{
    /* I made it inline-block, so that the text-align property of this imaage's parent will work on it */
    display: inline-block;
    height: calc(6em + 12.5vw);
    /* The vertical align is working because of the helper */
    vertical-align: middle;
    border-radius: 2.5em 0 0 0;
  }
  
  .helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  
  
  
  /*
  *******************************************************************************
  3.4. Forth Page / #page-four
  *******************************************************************************
  */
  
  #page-four {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    margin: 0 -8vw 0 -8vw;
  }
  
  
  
  .left-qoute-img {
    position: relative;
    width: 40%;
    display: block;
  }
  
  .yellow-bg {
    background-color: #f2b880;
    position: relative;
    display: block;
    height: 100%;
    position: relative;
  }
  
  .qoute-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
    height: calc(8.75em + 12.5vw);
  }
  
  .qoute {
    background-color: #855c8c;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    box-shadow: -1.5em 0px 0px 0px #c98686;
    position: relative;
  }
  
  .qoute span, .qoute p {
    color: white;
    font-family: DRamion;
  }
  
  .qoute p {
    font-size: calc(0.6em + 1vw);
    padding: 0.5em;
  }
  
  .open-qoute, .close-qoute {
    font-size: 4em;
    line-height: 0.6em;
  }
  
  .open-qoute {
    padding-top: 0.3em;
  }
  
  .close-qoute {
    text-align: right;
  }
  
  
  /*
  *******************************************************************************
  4. Footer / #footer
  *******************************************************************************
  */
  
  footer {
    margin: 1em 2em 1em 2em;
  }
  
  footer p {
    font-family: Rubik, sans-serif;
    font-size: calc(0.7em + 0.2vw);
    font-weight: normal;
    text-align: center;
    color: #855c8c;
  }
  
  footer p > a {
    color:#4d69d2;
    text-transform: uppercase;
  }
  
  .author {
    background-color: #f2b880;
    color: #855c8c;
    padding: 0.3em;
  }
  
  
  /*
  *******************************************************************************
  5. Animation
  *******************************************************************************
  */
  
  /* Grow */
  .hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
  }
  
  
  /* Sweep to Right */
  .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
      padding: 0.2em;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #c98686;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: white;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  
  /*
  *******************************************************************************
  6. Media Queries
  *******************************************************************************
  */
  
  
  @media only screen and (max-width: 540px) {
  
  /* From 2. Header  */
  
      .nav {
        height: 4em;
      }
  
      label {
          display: block;
          cursor: pointer;
          height: 100%;
          font-size: calc(1.1em + 3vw);
      }
  
      .logo {
          font-size: calc(0.5em + 1.5vw);
      }
  
      .menu {
          text-align: center;
          width: 100%;
          display: none;
          z-index: 10;
  
      }
  
      .menu a {
          display: block;
          border: 1px solid #dfdfdf;
          margin: 0;
          text-align: center;
          background-color: whitesmoke;
          font-size: calc(0.5em + 0.9vw);
          box-sizing: content-box;
          padding: 0;
      }
  
      #toggle:checked + .menu {
          display: block;
      }
  
  
  /* From 3. First Page */
  
    #page-one {
      flex-direction: column;
      justify-content: center;
  
    }
  
    #name-div {
      margin: 0;
    }
  
    #name-div p {
      font-size: calc(0.5em + 1.2vw);
    }
  
    #title {
      font-size: calc(2rem + 5.5vw);
    }
  
    hr.line {
      display: block;
  
    }
  
  
    /* From 3.2.1. personal Information */
  
  
    #personal-info {
      display: grid;
      grid-template-areas:
      "Nationality "
      "DoB"
      "Occupation";
  
      width: 100%;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 2em;
    }
  
    .keys {
        font-size: calc(0.6em + 1vw);
    }
  
    .values {
      font-size: calc(0.6em + 1.4vw);
    }
  
    .nationality {
      grid-area: Nationality;
    }
  
    .dob {
      grid-area: DoB;
    }
  
    .occupation {
      grid-area: Occupation;
    }
  
    .info-block {
      display: grid;
      grid-template-areas:
      "Icon Key"
      "Icon Value";
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 1em 0em 1em 0em;
    }
  
    .info-icon {
      grid-area: Icon;
    }
  
    .pkeys {
      grid-area: Key;
      text-align: left;
    }
  
    .pval {
      grid-area: Value;
      text-align: left;
    }
  
    .info-block > img {
      margin:0.1em 2.2em 0.1em 2.2em;
    }
  
  
    .info-block > div {
      margin: 0.3em;
    }
  
    /* From 3.2. Second Page */
  
    #page-two {
      padding: 17em 8em;
    }
  
  /* From 3.3. Third Page */
  
    #page-three {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  
    .work-column {
      width: calc(7em + 25vw);
      height: calc(8.75em + 30vw);
    }
  
  
    .work-column img{
      height: calc(7em + 27vw);
      /* The vertical align is working because of the helper */
      vertical-align: middle;
    }
  
    #first-grid, #second-grid, #third-grid {
      grid-template-rows: 1fr 4fr 1fr;
      padding-top: 3em;
    }
  
  /* From 3.4. Forth Page */
  
    #page-four {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 10em 0.5em 0 0.5em;
      padding-bottom: 2em;
    }
  
    .left-qoute-img {
      width: 100%;
  
    }
  
    .yellow-bg {
      background-color: #f2b880;
      position: relative;
      display: block;
      width: 100%;
      height: 20vh;
    }
  
  
    .qoute-img {
      position: absolute;
      margin: auto;
      z-index: 4;
    }
  
  
    .qoute {
  
      /* width: calc(8.75em + 10vw); */
      box-shadow: 0em -2em 0px 0px #c98686;
    }
  
    .qoute span, .qoute p {
      color: white;
      font-family: DRamion;
    }
  
    .qoute p {
      font-size: calc(0.7em + 2vw);
      padding: 0.5em;
    }
  
    .open-qoute, .close-qoute {
      font-size: 4em;
      line-height: 0.3em;
    }
  
    .open-qoute {
      padding-top: 0.2em;
    }
  
    .close-qoute {
      text-align: right;
    }
  
  
    /* From Footer */
  
    footer p {
      font-size: calc(0.7em + 0.5vw);
    }
  
  }
  
  
  
  
  
  
  
  
  
  
   @media screen and (orientation:landscape) {
     .menu a {
       height: 100%;
       line-height: 500%;
     }
  
     footer p {
       font-size: calc(0.5em + 0.2vw);
     }
   }
